
.root {
	-fx-background-color: blue;
}

.group {
	-fx-background-color: green;
}

.speaker {
	-fx-background-color: white;
}

.animable {
	-fx-background-color: antiquewhite, white ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
	/*-fx-effect: innershadow(gaussian, #039ed3, 10, 1.0, 0, 0);*/
}